*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #F8FAFC; }

.top-menu {
  height: 6rem;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: 10.41% 45.13% 44.51%; }

.logo {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 3rem;
  font-weight: 900;
  border-right: 1px solid black; }
  .logo__text {
    position: absolute;
    top: 14px;
    left: 32px; }

.search-bar {
  background-color: orange; }

.user-details {
  background-color: pink; }

.mermaid {
  position: absolute;
  top: 100px; }

.change-color {
  position: absolute;
  top: 500px; }
