$color-border: #ebeef4;
$color-green: #70e089;
$color-red: #ff5858;
$color-blue: #289cf4;
$color-grey: #e6eaee;

$color-primary: #000000;
$color-secondary: #787a7e;
$color-table: #7f8fa4;

$header-primary-font-size: 2.4rem;
$header-secondary-font-size: 1.4rem;
