.log-table {
  border: 1px solid $color-border;

  &__header {
    height: 12%;
    border-bottom: 1px solid $color-border;
    padding-left: 3rem;

    display: flex;
    align-items: center;
  }

  &__body {
    &-header {
      padding: 3rem;
    }

    &-row {
      padding: 3rem;

      &-id {
      }
      &-type {
      }
      &-step {
      }
      &-resource {
      }
      &-status {
      }
      &-elapsed-time {
      }
      &-timestamp {
      }
    }
  }
}
