.secondary-display {
  border: 1px solid $color-border;
  border-bottom: none;
  height: 41.5rem;
}

.step-textarea {
  height: inherit;
  resize: none;
  border: none;
  width: 100%;
  padding: 3rem;

  &:focus {
    outline: none;
  }
}
