.heading-secondary {
  color: $color-secondary;
  font-size: 1.4rem;
  font-weight: bold;

  &--active {
    color: $color-primary;
  }
}

.color-green {
  color: $color-green !important;
}
.color-red {
  color: $color-red !important;
}
.color-blue {
  color: $color-blue !important;
}
.color-grey {
  color: $color-grey !important;
}
.color-black {
  color: $color-primary !important;
}
