@import 'abstracts/variables';

@import 'base/base';
@import 'base/typography';

@import 'components/body';
@import 'components/card';
@import 'components/diagramContainer';
@import 'components/inputContainer';
@import 'components/legend';
@import 'components/logTable';
@import 'components/mainMenu';
@import 'components/menu';
@import 'components/mermaid';
@import 'components/outputContainer';
@import 'components/primaryDisplay';
@import 'components/secondaryDisplay';
@import 'components/topMenu';

.guide1 {
  position: fixed;
  height: 6rem;
  width: 1rem;
  background-color: pink;
  z-index: 2;
}
.guide2 {
  position: fixed;
  top: 6rem;
  height: 10rem;
  width: 1rem;
  background-color: red;
  z-index: 2;
}
.guide3 {
  position: absolute;
  top: 22rem;
  height: 41.5rem;
  width: 1rem;
  background-color: yellow;
}

.guide4 {
  position: absolute;
  top: 68.5rem;
  height: 41.5rem;
  width: 1rem;
  background-color: orange;
}
